doctype html
html
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        title File Upload Demo
    body
        h1 Welcome #{userName}
        img(src=imgUrl, alt="Uploaded Image", width="300")