html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width:479px) {}

@media screen and (min-width:480px) and (max-width:639px) {}

@media screen and (min-width:640px) {}

p {
    display: inline-block;
}

.myList {
    display: grid;
    grid-template-columns: 200px repeat(auto-fill, 110px);
}

.todos>div,
.doneTasks>div,
.startingTime>div,
.allTasks>div,
.deadLine>div,
.duration>div,
.progress>div,
.timeProgress>div,
.daysLeft>div {
    /* border: 1px solid black; */
    border-radius: 5px;
    text-align: center;
    background-color: silver;
    margin: 10px 4px;
    padding: 4px 0px;
    height: 26px;
}