html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width:479px) {}

@media screen and (min-width:480px) and (max-width:639px) {}

@media screen and (min-width:640px) {}

p {
    display: inline-block;
}

.myList {
    display: grid;
    grid-template-columns: 200px 1000px;
 }

#toScroll {
    display: grid;
    grid-template-columns: repeat(300, 120px);
     overflow-x: auto;
 }

.todos>div,
.doneTasks>div,
.startingTime>div,
.allTasks>div,
.deadLine>div,
.duration>div,
.progress>div,
.advanced>div,
.timeProgress>div,
.minNeeds>div,
.daysLeft>div {
    /* border: 1px solid black; */
    border-radius: 5px;
    text-align: center;
    background-color: silver;
    margin: 10px 4px;
    padding: 4px 0px;
    height: 26px;
}

#success {
    height: 20px;
}

#checkLabel {
    position: fixed;
    top: 10px;
    right: 30px;
}