/* 
 * Colors
 * 
 * Dark gray		#34383c
 * medium gray		#81858a
 * purple			#620e6e
 * blue				#4385c1
 * light blue		#9ac9f4
 * darker blue		#043867
 * darkest blue	#002342
 * blue tint		#e7ecf0
 * green				#7aa120
 */

body {
    background: white;
    color: #81858a;
    font: 1em/1.6 Helvetica, Verdana, sans-serif;
}

header {
    background: #4385c1;
    color: white;
    font-size: .9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    padding: 1 0px;
}

/* Header */

.branding {
    color: #9ac9f4;
    text-transform: uppercase;
    align-self: center;
    text-align: center;
}

/* footer */

footer {
    background: #34383c;
    color: white;
    padding: 1em;
    height: 1000px;
}

footer div {
    width: 310px;
}

footer .small {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.5em;
    width: 900px;
    
}

footer .hr {
    background-color: white;
    height: 2px;
    width: 100%;
}

/* footer */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
    font-weight: normal;
}


h2 {
    font: 2.25rem/1.2 Helvetica, Verdana, sans-serif;
}

h3 {    font-family: 'azo-sans-web';
}

h4 {
    font-size: 1.2rem;
}



p {
    font-size: .925rem;
}

/* sutati da texti */

.hero {
    text-align: center;
    color: white;
}

.hero div {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
    border-top: 2px solid;
    border-bottom: 2px solid;
    height: 220px;
    width: 1000px;
    line-height: 20px;
}

.hero h3 {
    text-transform: uppercase;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

.hero p {
    font-size: 50px;
}

.hero img {
    width: 98%;
    /* z-index: -1; */
    margin-top: 60px;
    filter: brightness(60%);
}

/* sutati da texti */

/* Links */

a:link,
a:visited {
    color: #4385c1;
    text-decoration: none;
}

a:hover,
a:focus,
a:active {
    color: #043867;
}

/* slogan */

.slogan {
    background-color: #7aa120;
    color: white;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 4fr 7fr;
}

.slogan h3 {
    font-size: 40px;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 10px;
    letter-spacing: 2px;
    margin-left: 30px
}

.slogan p {
    margin-top: auto;
    margin-bottom: auto;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

/* slogan ends */

/* navigation */

#quick-nav {
    align-self: center;
}

#quick-nav li {
    border-right: 1px solid #9ac9f4;
    padding-right: 5px;
    padding-left: 5px;
    display: inline;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    font-family: 'Open Sans', sans-serif;
}

#quick-nav li:last-of-type {
    border: none;
}

#quick-nav a:link,
#quick-nav a:visited {
    color: white;
}

#quick-nav a:hover,
#quick-nav a:focus,
#quick-nav a:active {
    color: #9ac9f4;
}

/* utilities */

.utilities {
    color: aliceblue
}

.utilities a {
    color: white;
    border: 1px solid aliceblue;
    border-radius: 2px;
    padding: 8px;
    margin: 5px;
}

#main-nav {
    background-color: #043867;
    font-family: Georgia, serif;
    font-size: 1.2em;
}

#main-nav ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-align: center;
    list-style: none;
    margin: 0;
}

#main-nav li {
    padding: 20px;
    color: white;
}

#main-nav li a {
    color: white;
}

#main-nav li:hover {
    background-color: #002342;
}

.boxes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
}

.boxes div {
    margin: 15px;
    height: 300px;
    background-color: lightgray;
    padding-left: 15px;
}

#purple {
    background-color: purple;
    color: white;
}

#purple a {
    color: white;
}

#purple p {
    font-size: 2em;
    width: 200px;
}

#blue {
    background-color: #4385c1;
    color: white;
}

#blue a {
    color: white;
}

#blue p {
    font-size: 2em;
    width: 200px;
}

.end-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.end-nav a {
    margin: 20px;
    border: 2px solid blue;
    padding: 10px;
    text-align: center;
    border-radius: 4px;
}

#full-nav a:link,
#full-nav a:visited {
    color: #81858a;
}

#full-nav h3 a:link,
#full-nav h3 a:visited {
    color: white;
    padding-left: 39px;
}

#full-nav a:hover,
#full-nav a:focus,
#full-nav a:active {
    color: white;
}

section h4 {
    margin-left: 25px;
    margin-bottom: 10px;
    color: #000;
}

#upcoming,
#upcoming2 {
    background-color: white;
    display: flex;
    align-items: center;
    margin: 0;
    height: 100px;
}

#upcoming p, 
#upcoming2 p{
    color: #4385c1;
    width: 200px;
}

#jan, #jan2 {
    background-color: white;
    border: .5px solid grey;
    border-radius: 2px;
    height: 80px;
    width: 80px;
    text-align: center;
    padding: 0;
}

#jan h2 ,
#jan h5 ,
#jan2 h2 ,
#jan2 h5
{
    margin: 0;
    margin-top: 4px;
    padding: 0;
    color: green;
}


#full-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#full-nav li {
    list-style-type: none;
}