html {
    box-sizing: border-box;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: wheat;
    background-color: black
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width:479px) {}

@media screen and (min-width:480px) and (max-width:639px) {}

@media screen and (min-width:640px) {}

#featuresId {
    position: absolute;
    right: 100px;
    top: 10px;   
}

#canvas {
    margin: 10px 200px;
    
}

button{
    border-radius: 5px;
    text-align: center;
    background-color: silver;
    margin: 10px 4px;
    padding: 4px 4px;
    height: 26px;
    background-color: wheat;
}

input{
    background-color: wheat;
    
}