extends layout

block content
    #table-wrapper
        table#desc
            tr
                th სახელი
                th გვარი
                th პირადი ნომერი
                th მამის სახელი
                th დაბადების თარიღი
            tr

