*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #D57A66;
}

.home{
    display: inline-block;
    margin-top: 150px;
    margin-left: 500px;
    margin-right: 200px;
    border-radius: 7px;
    padding: 10px 20px;
    background-color: #AF6454;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    
}



#table-wrapper {
    margin-top: 5px;
    display: flex;
    width: 100%;
  }
#desc {
    width: 100%;
    border-collapse: collapse;
  }
    
th {
      background-color: D57A66;
      padding: 1em;
      text-align: left;
      border: 2px solid black;
      padding: 1em;
    }
    
td {
      border: 2px solid black;
      padding: 1em;
    }

.car-wrapper, .person-wrapper{
    margin-left: 35%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    text-align: center;
}
.car-wrapper p, .person-wrapper p  {
    color: #fff;
    font-size: 20px;
}
.car-input, .person-input {
    border-radius: 7px;
    padding: 10px 20px;
}
.car-button, .person-button{
    color: #fff;
    border-radius: 7px;
    padding: 10px 20px;
    margin-top: 25px;
    font-size: 20px;
    cursor: pointer;
}
  
