.container{
    position: relative;
    width: 800px;
    height: 260px;
    border: 2px solid red;
    
}

#slider{
    width: 800px;
    height: 220px;
    margin: 20px auto;
    display: flex;
    position: absolute;

}

img{
    width: 300px;
    height: 200px;
    margin: 8px;
}

#myBtn{
    border-radius: 20px;
}

