html {
    box-sizing: border-box;
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width:479px) {
    .container {
        display: grid;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 10px;
        max-width: 98%;
        margin: 0 auto;
        background-color: lightgray;
    }
    .header {
        grid-column: 1/-1;
        text-align: center;
    }
    .aside {
        grid-row: 2/3;
        text-align: center;
    }
    .menu {
        grid-row: 3/4;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .table {
        grid-row: 4/5;
    }
    h1,
    h2 {
        font-family: cursive, sans-serif;
        margin: 8px;
    }
    .table {
        display: grid;
        grid-template-columns: minmax(180px, max-content) repeat(300, 100px);
        overflow-x: auto;
    }
    .table>div>div {
        /* border: 1px solid black; */
        border-radius: 5px;
        text-align: center;
        background-color: silver;
        margin: 10px 4px;
        padding: 4px 0px;
    }
    #student0,
    #av0 {
        height: 44px;
        line-height: 40px;
    }
    li {
        list-style: none;
        margin: 20px;
    }
    button {
        font-family: cursive, sans-serif;
        font-size: 20px;
        padding: 20px;
        margin: 5px;
        background-color: silver;
        border-radius: 5px;
    }
}

@media screen and (min-width:480px) and (max-width:689px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 10px;
        max-width: 98%;
        margin: 0 auto;
        background-color: lightgray;
    }
    .header {
        grid-column: 1/-1;
        text-align: center;
    }
    .aside {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .menu {
        grid-column: 2/3;
        grid-row: 2/3;
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }
    .table {
        grid-column: 1/-1;
        grid-row: 3/4;
    }
    h1,
    h2 {
        font-family: cursive, sans-serif;
        margin: 8px;
    }
    .table {
        display: grid;
        grid-template-columns: minmax(150px, max-content) repeat(300, 100px);
        overflow-x: auto;
    }
    .table>div>div {
        /* border: 1px solid black; */
        border-radius: 5px;
        text-align: center;
        background-color: silver;
        margin: 10px 4px;
        padding: 4px 0px;
    }
    #student0,
    #av0 {
        height: 44px;
        line-height: 40px;
     }
    html>body.selector#student0, x:-moz-any-link,
    x:default {
        height: 84px;
    }
    li {
        list-style: none;
        margin: 20px;
    }
    button {
        font-family: cursive, sans-serif;
        font-size: 20px;
        padding: 20px;
        margin: 5px;
        background-color: silver;
        border-radius: 5px;
    }
}

@media screen and (min-width:690px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-auto-rows: minmax(100px, auto);
        grid-gap: 20px;
        max-width: 98%;
        margin: 0 auto;
        background-color: lightgray;
        grid-template-areas: "header menu" "aside table"
    }
    .header {
        grid-area: header;
    }
    .menu {
        grid-area: menu;
    }
    .table {
        grid-area: table;
    }
    .aside {
        grid-area: aside;
    }
    h1,
    h2 {
        font-family: cursive, sans-serif;
        margin: 8px;
    }
    .table {
        grid-column-start: 2;
        display: grid;
        grid-template-columns: minmax(150px, max-content) repeat(300, 100px);
        overflow-x: auto;
    }
    .table>div>div {
        /* border: 1px solid black; */
        border-radius: 5px;
        text-align: center;
        background-color: silver;
        margin: 10px 4px;
        padding: 4px 0px;
    }
    #student0,
    #av0 {
        height: 44px;
        line-height: 40px;
    }
    li {
        list-style: none;
        margin: 20px;
    }
    button {
        font-family: cursive, sans-serif;
        font-size: 20px;
        padding: 20px;
        margin: 5px;
        background-color: silver;
        border-radius: 5px;
    }
}