DOCTYPE 
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        a(href="/")
            button home
        h1 Edit person here 
        form(action = "/updateCar", method = "post")
            p Mark : 
                input(type = "text", name = "mark", placeholder = mark, value=mark required)
            p Model : 
                input(type = "text", name = "model", placeholder = model, value=model required)
            p number : 
                input(type = "text", name = "VIN", placeholder = VIN, value=VIN required)
            p owner : 
                input(type = "text", name = "owner", placeholder = owner, value=owner required)
                button(type="submit") Update