mixin product(product)
    div.product--box
        h2.product--title--item= product.title
        h4.product--price= product.price
include ../includes/header.pug 
body    
    h1= title
    hr
    each item in products 
        +product(item)