html 
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Person
    body
        a(href="/")
            button home page
            p
        h1 Add person
        form(action = "/add", method = "post")
            p
                input(type = "text", name = "firstName", placeholder = "insert firstname here...")
            p
                input(type = "text", name = "lastName", placeholder = "insert lastname here...")
            p
                input(type = "text", name = "number", placeholder = "number...")
            p
                input(type = "text", name = "fathersName", placeholder = "fathers name...")
            p
                input(type = "text", name = "birthYear", placeholder = "birth year...")
            p
                button(type="submit") Save Person
            br