:root {
    font-size: 10px;
}

body {
    font-size: 15px;
    padding: 0;
    margin: 0;
    background-color: seagreen;
}

h1 {
    font-size: 1em;
}


p {
    font-size: 20px;
}

.container{
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
}
img {
    max-width: 80%;
}

figure {
    margin: 0;
    text-align: center;

}

@media all and (min-width:600px) {
   
    body{
        background-color: blueviolet;
    }
    .container {
        height: 800px;
        width: 800px;
        background-color: blueviolet;
        margin: 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }
    figure {
        margin: 5px;
        text-align: center;
    }
    img {
        width: 300px;
        margin: 20px;
    }
}

@media all and (min-width:800px) {
    body {
        background-color: lightblue;
     }


    .container{
        width: 1400px;
        background-color: lightblue;

    }


    img {
        width: 250px;
        margin: 40px;
    }
}