*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
	max-width: 1200px;
    margin:0 auto;
    padding: 0;
	width: 95%;
}
header{
    background: gray;
    height: 100px;
    color: white;
}

h1{
    padding: 25px;
}
 


nav{
    overflow: hidden;
    width: 20%;
    float: left;
    margin: 10px;

}

nav a{
    color: white;
    padding: 15px;
    text-decoration: none;
    height: 50px;
    width: 100%;
    display: block;
    margin: 15px;
    background-color: blue;
}

nav > a:hover{
    padding: 15px;
    text-decoration: none;
    height: 50px;
    display: block;
    margin: 15px;
    background-color:gold;
}

main{
    display: block;
    padding: 20px;
    width: 75%;
    float: left;
}

p{
    margin: 10px;
}
footer{
    background-color: gray;
    clear: both;
    height: 80px;
    color: white;
    padding: 25px;

}