html {
    box-sizing: border-box;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color: wheat;
    background-color: black
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

@media screen and (max-width:479px) {}

@media screen and (min-width:480px) and (max-width:639px) {}

@media screen and (min-width:640px) {}

#featuresId {
    position: absolute;
    right: 100px;
    top: 10px;
}
#video,
#canvas {
    position: absolute;
    margin: 10px 250px;
}
#video{
    display: none;
}
button {
    border-radius: 5px;
    text-align: center;
    background-color: silver;
    margin: 10px 4px;
    padding: 4px 4px;
    height: 26px;
    background-color: wheat;
}

input {
    background-color: wheat;
}
#skip{
    margin: 50px 10px;
    padding: 36px;
    line-height: 3px;
    font-size: 30px;
}
#newGame {
    margin: 50px 70px;
    padding: 20px;
    line-height: 3px;
    font-size: 20px;
}